fastapi
uvicorn
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg2-binary
PyJWT
python-decouple
python-multipart
bcrypt
pandas
openpyxl
boto3
langchain
langchain-groq
langchain-community
langchain-experimental
langgraph
pgvector
tabulate
httpx
